.container {
    width: 80%;
    height: 644.94px;
    display: flex;
    margin: 30vh auto;
    align-items: center;
    justify-content: space-between;
}


.container .image {
    position: relative;
    width: 50%;
    height: 90%;
}

.mainIMG {
    height: 622px;
    flex-shrink: 0;
    position: relative;
}

.videoPNG {
    position: absolute;
    bottom: 1rem;
    right: 8rem;
    width: 130px;
    height: 88px;
}

.text {
    width: 562px;
    height: 549px;
    display: flex;
    margin-right: 5vh;
    flex-direction: column;
    justify-content: space-between;
}

.text ul {
    margin-bottom: 5vh;
}


.text h5 {
    font-family: Chakra Petch;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
    letter-spacing: 0.14em;
    height: 21px;
    background: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;

}

.text h3 {
    width: 562px;
    height: 174px;
    font-family: Chakra Petch;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: -0.005em;
    color: #FFFFFF;

}


.text p {
    width: 528px;
    height: 112px;
    font-family: Chakra Petch;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #D1D1D1;
    margin: 2vh 0;
}


.text li {
    color: #FFFFFF;
    font-family: Chakra Petch;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 4vh;
    position: relative;
    
}

.text li::after {
    content: url('../../../assets/aboutUS/icon/check-box.svg');
    left: -25px;
    bottom: 0;
    position: absolute;
    background-color: red;
}




@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        flex-direction: column;
        margin: 10vh auto;
        height: max-content;
    }

    .text ul {
        margin: 0;
    }

    .text {
        max-width: 90%;
        margin: 0;
    }

    .text h3 {
        font-family: "Chakra Petch";
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.16px;
        max-width: 100%;
        height: max-content;
    }

    .text p {
        font-family: "Chakra Petch";
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        max-width: 100%;
        margin: 0;
        padding: 0;
        height: max-content;
    }

    .container .image {
        width: 100%;
        height: max-content;
        margin-top: 2vh;
    }

    .videoPNG {
        width: 100px;
        height: auto;
        right: 2rem;
        bottom: 1rem;
    }

    .mainIMG {
        width: 100%;
        height: max-content;
    }
}