.container {
    width: 100%;
    display: flex;
    align-items: start;
}


.container img {
    width: 200px;
    height: auto;

}



@media screen and (max-width: 768px) {
    
    .container img {
        width: 107.647px;
        height: 155.49px;
        flex-shrink: 0;
    }

}