.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 5vh 0;
}


.teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    position: relative;
}

.box h4 {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 40px;

}

.box p {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}


.BG {
    position: absolute;
    left: 1px;
    top: 0px;
    bottom: 0px;
    right: 0px;
}


.text p {
    font-family: "Chakra Petch";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.24px;
    background: var(--Main-Colors-Linear, linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text h2 {
    color: var(--Greyscale-White, #FFF);
    font-family: "Chakra Petch";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: -0.24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5vh 0;
}


.header a {
    display: inline-flex;
    padding: 18px 38px;
    align-items: flex-start;
    border: 1px solid var(--Main-Colors-Linear, #0CBAF1);
    background: rgba(255, 255, 255, 0.06);
}





@media screen and (max-width: 768px) {

    .container {
        width: 90%;
    }

    .teams {
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    .text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header {
        width: 100%;

    }

    .header>a {
        display: none;

    }

    .text p {
        width: max-content;
    }

    .text h2 {
        font-family: "Chakra Petch";
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.16px;
        width: max-content;
    }


    .container>a {
        color: var(--Greyscale-White, #FFF);
        text-align: center;
        font-family: "Chakra Petch";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        border: 1px solid var(--Main-Colors-Linear, #0CBAF1);
        background: rgba(255, 255, 255, 0.06);
        padding: 18px 38px;
        width: max-content;
        align-self: center;
        margin: 2vh 0;
    }
}